parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: dm-portal
    database_user: root
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: ThisTokenIsNotSoSecretChangeIt
    twitter_api_key: USejAWbXeTXDupznlmTeb1Dku
    twitter_api_secret: ODgV2deK2p1zf7XVcjse1qmi7wH5ulnYLdvhczeN91GyZuFskI
    twitter_api_access_token: 823098547-8WyHEKqOzM8i5M5gU6qmRBOBA3UUJfhzeYShnYLe
    twitter_api_token_secret: 0yuXbg2AeiZfpCpNWbtLyxNIamJPYjJbs7wPtRKGH35qW
    twitter_redirect_uri: twitter_callback
